@font-face {
  font-family: "iconfont";
  src: url('https://at.alicdn.com/t/font_2655255_r4ww29aqeu.woff2?t=1625558292951') format('woff2'),
       url('https://at.alicdn.com/t/font_2655255_r4ww29aqeu.woff?t=1625558292951') format('woff'),
       url('https://at.alicdn.com/t/font_2655255_r4ww29aqeu.ttf?t=1625558292951') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jihua:before {
  content: "\e607";
}

.icon-React:before {
  content: "\e799";
}

.icon-Nodejs:before {
  content: "\e79b";
}

.icon-css:before {
  content: "\e61e";
}

.icon-html:before {
  content: "\e632";
}

.icon-jsp:before {
  content: "\e63a";
}

.icon-js:before {
  content: "\e63b";
}

.icon-jsx:before {
  content: "\e63c";
}

.icon-ts:before {
  content: "\e664";
}

.icon-javascript:before {
  content: "\e66b";
}

.icon-vue:before {
  content: "\e6b9";
}

.icon-yejimianban:before {
  content: "\e639";
}
